@font-face {
    /* 为载入的字体取名字(随意) */
    font-family: 'xiayu';	
    /* 字体文件地址(相对或者绝对路径都可以) */
    src: url('https://v.06dn.com/api/v3/slave/download/0/L3VwbG9hZHMvMjg2MjEvMjAyNTA0LzA3LzI4NjIxX3NMaENOdFZ0X2hrNGVfemgtY24udHRm/hk4e_zh-cn.ttf?sign=kL7y7QgUgdfApZvfYOOZ7CF4JMEiapm8VqAV2DtTrdE%3D%3A1744126605') format("truetype");
    
    /* 定义加粗样式(加粗多少) */
    font-weight: normal;
    /* 定义字体样式(斜体/非斜体) */
    font-style: normal;
    /* 定义显示样式 */
    font-display: block;
  }
